version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 6g   # safe for 8GB machines
    healthcheck:
      test: ["CMD", "ollama", "list"]
      interval: 30s
      timeout: 10s
      retries: 3

      
  localmind:
    build: .
    container_name: localmind
    depends_on:
      - ollama
    volumes:
      - localmind_data:/app/data
    environment:
      - DB_PATH=/app/data/localmind.db
      - OLLAMA_URL=http://ollama:11434
    command: python main.py
    restart: unless-stopped


volumes:
  ollama_models:
  localmind_data: